g.node.clickable {
  cursor: pointer;
}

g.highlighted>g.active {
  opacity: 1;
}

g.highlighted>g:not(.active):not(.abbrev-table) {
  opacity: 0.2;
}

text.abbrev {
  cursor: pointer;
}

text.abbrev:hover {
  text-decoration: underline;
  fill: blue;
}

dot-graph-viz,
dot-graph-viz>svg {
  width: 100%;
}